<div class="green-background"></div>
<div class="top">
    <div class="header_caption">
        <h1> Let's create a contract.</h1>
        <p> We'll need just a few bits of information to do that. All fields are required.</p>
    </div>
    {{#paper-form onSubmit=(action "done") as |form|}}
        {{#paper-card class="create-section" as |card| }}
            <h1> What type of document is this?</h1>
            <input type="hidden" id="doc_type">
            <div id="doc_type_selection">
                {{!-- Wrap each card in a div to use the action helper. Makes it clickable. --}}
                <div {{action "typeSelected" "receiving"}}>
                    {{doc-type-select-icon doc=model selectOn="receiving" img="/assets/images/receive.png" text="Receiving"}}
                </div>

                <div {{action "typeSelected" "mutual"}}>
                    {{doc-type-select-icon doc=currentModel selectOn="mutual" img="/assets/images/reliable.png" text="Mutual"}}
                    {{!--{{#paper-card class="doc_type_select"}}
                        <img class="select_option_img" src="/assets/images/reliable.png">
                        <p> Mutual </p>
                    {{/paper-card}}--}}
                </div>

                <div {{action "typeSelected" "disclosing"}}>
                    {{doc-type-select-icon doc=currentModel selectOn="disclosing" img="/assets/images/disclose.png" text="Disclosing"}}
                    {{!--{{#paper-card class="doc_type_select"}}
                        <img class="select_option_img" src="/assets/images/disclose.png">
                        <p> Stevens Disclosing </p>
                    {{/paper-card}}--}}
                </div>
            </div>
    {{/paper-card}}
    <br>
    {{#paper-card class="create-section basic-inputs" as |card| }}
        <h1> {{paper-icon "assignment_ind"}} Now, about you. </h1>
        <div class="inputs center">
            <p>
                {{paper-input
                        label="Full Name"
                        required=true
                        value=currentUser.name
                        onChange=(action (mut currentUser.name))
                        onBlur=(action "save")
                        class="half"
                        errorMessages=(hash
                                required="A name is required."
                        )
                }}
                {{paper-input
                        flex=true
                        label="Email"
                        type="text"
                        value=currentUser.email
                        required=true
                        disabled=true
                        onChange=null
                        class="half"
                }}
            </p>
            {{paper-input
                    label="Title"
                    value=currentUser.title
                    onChange=(action (mut currentUser.title))
                    onBlur=(action "save")
                    required=true
                    class="full"
                    errorMessages=(hash
                            required="A title is required."
                    )
            }}
        </div>
    {{/paper-card}}
        <br>
        {{#paper-card class="create-section basic-inputs" as |card| }}
            <h1> {{paper-icon "assignment"}} Next, about your project. </h1>
            <div class="inputs center">
                {{paper-input
                        label="Industry"
                        value=model.project.industry
                        onChange=(action (mut model.project.industry))
                        onBlur=(action "save")
                        required=true
                        class="full"
                        errorMessages=(hash
                                required="An industry is required."
                        )
                }}
                {{paper-input
                        textarea=true
                        block=true
                        label="Description"
                        maxlength=140
                        passThru=(hash rows=5)
                        value=model.project.description
                        onChange=(action (mut model.project.description))
                        onBlur=(action "save")
                        required=true
                        class="full"
                        errorMessages=(hash
                                required="A description is required."
                        )
                }}
            </div>
        {{/paper-card}}
        <br>
        {{#paper-card class="create-section basic-inputs" as |card| }}
            <h1> {{paper-icon "business"}} Finally, about the company. </h1>
            <div class="inputs center">
                {{paper-input
                        label="Company Name"
                        required=true
                        value= companyName
                        onChange=(action (mut companyName))
                        onBlur=(action "save")
                        class="full"
                }}
                {{paper-input
                        flex=true
                        label="Address"
                        type="text"
                        value=address
                        required=true
                        onChange=(action (mut address))
                        onBlur=(action "save")
                        class="full"
                }}
                <p>
                    {{paper-input
                            flex=true
                            label="City"
                            type="text"
                            class="third"
                            value=city
                            required=true
                            onChange=(action (mut city))
                            onBlur=(action "save")
                    }}
                    {{#paper-select
                            disabled=disableSelect
                            placeholder="State"
                            value=userState
                            class="third"
                            onChange=(action (mut userState))
                    }}
                        {{#each states as |state|}}
                            {{#paper-option value=state.abbrev}}
                                {{state.abbrev}}
                            {{/paper-option}}
                        {{/each}}
                    {{/paper-select}}
                    {{paper-input
                            flex=true
                            label="Zip Code"
                            type="text"
                            class="third"
                            value=zip
                            required=true
                            onChange=(action (mut zip))
                            onBlur=(action "save")
                    }}
                </p>
                <p>
                    {{paper-input
                            label="Company Type"
                            class="half"
                            required=true
                            value= companyType
                            onChange=(action (mut companyType))
                            onBlur=(action "save")
                    }}
                    {{#paper-select
                            disabled=disableSelect
                            placeholder="State of incorporation"
                            value=companyState
                            class="half"
                            onChange=(action (mut companyState))
                    }}
                        {{#each states as |state|}}
                            {{#paper-option value=state.abbrev}}
                                {{state.abbrev}}
                            {{/paper-option}}
                        {{/each}}
                    {{/paper-select}}
                </p>
                <!-- terrible way to make select aligned -->
                <p style="color: white"> ..... </p>
                <p>
                    {{paper-input
                            label="Company Contact Name"
                            class="half"
                            required=true
                            value= contactName
                            onChange=(action (mut contactName))
                            onBlur=(action "save")
                    }}
                    {{paper-input
                            flex=true
                            label="Company Contact Email"
                            type="text"
                            class="half"
                            value=contactEmail
                            required=true
                            onChange=(action (mut contactEmail))
                            onBlur=(action "save")
                    }}
                </p>
            </div>
    {{/paper-card}}
        {{!-- Don't allow to continue until all things valid --}}
        {{#paper-button onClick=form.onSubmit disabled=form.isInvalid}}DONE{{/paper-button}}
    {{/paper-form}}
</div>
