<!--<h1>Document {{!-model.id}}</h1>-->
{{#paper-toolbar class="toolbar"}}
    {{#paper-toolbar-tools}}

        {{#link-to "dash"}}
        <img src="/assests/images/not-a-logo-white.png" width="150" style="margin-left: 15px" class="hoverable">
        {{/link-to}}

        <span class="flex"></span>
        {{paper-icon "account_circle"}}
        <span id="name">{{session.currentUser.displayName}}</span>

        {{#paper-menu isOpen=menuFourIsOpen position="target-right target" as |menu|}}
            {{#paper-button onClick=(action "toggleMenu" target=menu) iconButton=true}}{{paper-icon "arrow_drop_down" class="md-menu-origin"}}{{/paper-button}}
        {{else}}
            {{#paper-menu-item}}
            {{!-- Some people won't have a photo provided through google --}}
                {{#if session.currentUser.photoURL}}
                    <img src="{{session.currentUser.photoURL}}" style="border-radius: 50%; width:55px; margin-right: 0px; float:left;">
                {{else}}
                    {{paper-icon "account_circle"}}
                {{/if}}
                <p style="font-size: .9em; margin-left: -20px; line-height: 200%;"> {{currentUser.email}}<br>
                    <a style="font-weight: bold; color: #00a63f" {{action "signOut"}}>SIGN OUT</a></p>
            {{/paper-menu-item}}
        {{/paper-menu}}

    {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

    {{#paper-sidenav
            class="md-whiteframe-z2"
            name="left"
            open=leftSideBarOpen
            onToggle=(action (mut leftSideBarOpen))
    }}
        <!--div class="button"> NEW CONTRACT </div-->
        {{#paper-button raised=true primary=true onClick=(action "newContract")}}NEW CONTRACT{{/paper-button}}

        <span id="nav_options">
            {{#paper-content padding=true}}
                <h1 class="nav_header">DOCUMENTS</h1>
            {{/paper-content}}
            {{#paper-content padding=true}}
                <span class="nav_option selected">{{paper-icon "move_to_inbox"}} <span class="text">Pending</span></span>
            {{/paper-content}}
            {{#paper-content padding=true}}
                <span class="nav_option">{{paper-icon "hourglass_empty"}} <span class="text">Incomplete</span></span>
            {{/paper-content}}
            {{#paper-content padding=true}}
                <span class="nav_option">{{paper-icon "assignment_turned_in"}} <span class="text">Approved</span></span>
            {{/paper-content}}
        </span>
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
            <div class="layout-fill" style="background-color: #efefef">



            {{outlet}}
                {{#if showDialogWithParent}}
                    {{#paper-dialog onClose=(action "closeDialogWithParent" "cancel") parent="#paper-dialog-demo" origin=dialogOrigin clickOutsideToClose=true}}
                        <form>
                            {{#paper-toolbar}}
                                <div class="md-toolbar-tools">
                                    <h2>Mango (Fruit)</h2>
                                    <span class="flex"></span>
                                    {{#paper-button iconButton=true onClick=(action "closeDialogWithParent" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                                </div>
                            {{/paper-toolbar}}

                            {{#paper-dialog-content}}
                                <div style="max-width:800px;max-height:810px;">
                                    <p>
                                        This is a dialog rendered into a specific element. Clicking outside the dialog will close it.
                                    </p>
                                </div>
                            {{/paper-dialog-content}}

                            {{#paper-dialog-actions class="layout-row"}}
                                <span class="flex"></span>
                                {{#paper-button onClick=(action "closeDialogWithParent" "cancel")}}Cancel{{/paper-button}}
                                {{#paper-button onClick=(action "closeDialogWithParent" "ok")}}OK{{/paper-button}}
                            {{/paper-dialog-actions}}
                        </form>
                    {{/paper-dialog}}
                {{/if}}

                {{#if showDialog}}
                    {{#paper-dialog onClose=(action "closeDialog" "cancel") origin=dialogOrigin}}
                        {{#paper-toolbar}}
                            <div class="md-toolbar-tools">
                                <h2>Mango (Fruit)</h2>
                                <span class="flex"></span>
                                {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
                            </div>
                        {{/paper-toolbar}}

                        {{#paper-dialog-content}}
                            <div style="max-width:800px;max-height:810px;">
                                <p>
                                    The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
                                </p>
                                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="http://weknowyourdreamz.com/images/mango/mango-01.jpg">
                            </div>
                        {{/paper-dialog-content}}

                        {{#paper-dialog-actions class="layout-row"}}
                            <span class="flex"></span>
                            {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
                            {{#paper-button onClick=(action "closeDialog" "ok")}}OK{{/paper-button}}
                        {{/paper-dialog-actions}}
                    {{/paper-dialog}}
                {{/if}}

                {{#if showPromptDialog}}
                    {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}

                        {{#paper-dialog-content}}
                            <h2 class="md-title">What would you name your dog?</h2>
                            <p>Bowser is a common name.</p>
                            {{paper-input placeholder="dog name" autofocus=true value=dogName onChange=(action (mut dogName))}}
                            <div>
                                {{#paper-checkbox value=fullscreen onChange=(action (mut fullscreen))}}Display fullscreen at small window size breakpoints{{/paper-checkbox}}
                            </div>
                        {{/paper-dialog-content}}

                        {{#paper-dialog-actions class="layout-row"}}
                            <span class="flex"></span>
                            {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}I'm a cat person{{/paper-button}}
                            {{#paper-button primary=true onClick=(action "closePromptDialog" "ok" dogName)}}Okay!{{/paper-button}}
                        {{/paper-dialog-actions}}

                    {{/paper-dialog}}
                {{/if}}
        </div>
    {{/paper-card-content}}
{{/paper-sidenav-container}}