{{#paper-toolbar class="toolbar"}}
    {{#paper-toolbar-tools}}

        {{#link-to "dash"}}
        <img src="/assets/images/not-a-logo-white.png" width="150" style="margin-left: 15px" class="hoverable">
        {{/link-to}}

        <span class="flex"></span>
        {{paper-icon "account_circle"}}
        <span id="name">{{currentUser.name}}</span>

        {{#paper-menu isOpen=userMenuIsOpen position="target-right target" as |menu|}}
            {{#paper-button onClick=(action "toggleMenu" target=menu) iconButton=true}}
                {{paper-icon "arrow_drop_down" class="md-menu-origin"}}
            {{/paper-button}}
        {{else}}
            {{#paper-menu-item}}
            {{!-- Some people won't have a photo provided through google --}}
                {{#if session.currentUser.photoURL}}
                    <img src="{{session.currentUser.photoURL}}" style="border-radius: 50%; width:55px; margin-right: 0px; float:left;">
                {{else}}
                    {{paper-icon "account_circle"}}
                {{/if}}
                <p style="font-size: .9em; margin-left: -20px; line-height: 200%;"> {{currentUser.email}}<br>
                    <a style="font-weight: bold; color: #00a63f" {{action "signOut"}}>SIGN OUT</a></p>
            {{/paper-menu-item}}
        {{/paper-menu}}
    {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-sidenav-container class="inner-sidenav"}}

    {{#paper-sidenav
            class="md-whiteframe-z2"
            name="left"
            open=leftSideBarOpen
            onToggle=(action (mut leftSideBarOpen))
    }}
        <!--div class="button"> NEW CONTRACT </div-->
        {{#paper-button raised=true primary=true onClick=(action "newContract")}}NEW CONTRACT{{/paper-button}}

        <span id="nav_options">
            {{#paper-content padding=true}}
                <h1 class="nav_header">DOCUMENTS</h1>
            {{/paper-content}}
            {{nav-option text="All Documents" icon="move_to_inbox" onClick=(action "setDocFilter" "all")}}
            {{nav-option text="Incomplete" icon="hourglass_empty" onClick=(action "setDocFilter" "incomplete")}}
            {{nav-option text="Pending" icon="move_to_inbox" onClick=(action "setDocFilter" "pending")}}
            {{nav-option text="Complete" icon="assignment_turned_in" onClick=(action "setDocFilter" "complete")}}
            {{!--{{#paper-content padding=true}}--}}
                {{!--<span class="nav_option selected">--}}
                    {{!--{{paper-icon "move_to_inbox"}}--}}
                    {{!--<span class="text">Pending</span>--}}
                {{!--</span>--}}
            {{!--{{/paper-content}}--}}
            {{!--{{#paper-content padding=true}}--}}
                {{!--<span class="nav_option">--}}
                    {{!--{{paper-icon "hourglass_empty"}}--}}
                    {{!--<span class="text">Incomplete</span>--}}
                {{!--</span>--}}
            {{!--{{/paper-content}}--}}
            {{!--{{#paper-content padding=true}}--}}
                {{!--<span class="nav_option">--}}
                    {{!--{{paper-icon "assignment_turned_in"}}--}}
                    {{!--<span class="text">Approved</span>--}}
                {{!--</span>--}}
            {{!--{{/paper-content}}--}}
        </span>
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
        <div class="layout-fill" style="background-color: #efefef">
            {{outlet}}

        </div>
    {{/paper-card-content}}
{{/paper-sidenav-container}}